.main-content {
  display: flex;
  align-items: center;
}

.navigation {
  min-width: 10em;
  margin-left: -8em;
  background-color: rgba(224, 214, 74, 0.7);
  max-height: 20em;
  min-height: 20em;
  position: fixed;
}

.home {
  min-width: 100%;
  /*padding-left: 8em;*/
}

.projects {
  display: none;
  min-width: 100%;
  /*padding-left: 8em;*/
}

.about {
  display: none;
  min-width: 100%;
  /*padding-left: 8em;*/
}

.resume {
  display: none;
  min-width: 100%;
  /*padding-left: 8em;*/
}

.contact {
  display: none;
  min-width: 100%;
  /*padding-left: 8em;*/
}
