.main-content {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 10em;
  margin-left: 0em;
  /*margin-left: -8em;*/
  background-color: rgba(219, 215, 186, 1);
  max-height: 20em;
  min-height: 20em;
  position: fixed;
  color: black;
}

.home {
  min-width: 100%;
  /*padding-left: 8em;*/
}

.projects {
  display: none;
  min-width: 100%;
  /*padding-left: 8em;*/
}

.about {
  display: none;
  min-width: 100%;
  /*padding-left: 8em;*/
}

.resume {
  display: none;
  min-width: 100%;
  /*padding-left: 8em;*/
}

.contact {
  display: none;
  min-width: 100%;
  /*padding-left: 8em;*/
}

li:hover {
  color: white;
  cursor: pointer;
}
